@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700;900&display=swap");

/*rgb(212, 179, 227)
rgb(201, 160, 220)
rgb(190, 141, 213)

Variable example:
.container {
  --blue: #6495ed;
  --white: #faf0e6;
}

body { background-color: var(--blue); }
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: Lato, sans-serif;
  border: 1rem solid #ffe9ec;
  height: 100vh;
  width: 100%;
}

.heading-container {
  background: url("../images/heading-deco.png") no-repeat center;
  background-size: 100% 100%;
  height: 350px;
}

.title-container {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

h1 {
  font-size: 7rem;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 2rem;
  color: #1f1f1f;
  margin-bottom: 3rem;
}

hr {
  border: 1px solid #ffe9ec;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: 300;
  height: 10rem;
}

.navbar-group {
  font-size: 2rem;
  height: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  text-transform: uppercase;
}

h3 {
  font-size: 10rem;
}
